body {
    font-family: SF Pro Display, sans-serif;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

.fi {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.twitter {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a 
{
    text-decoration: none;
}

.nav-link
{
transition: all 0.5s ease-out;
background:#fff;
color:#000;
}
    
.hovered
{
background:#000 !important;
color:#fff !important;
}

#workexperience{
    width: 100%;
    height: 1000px;  
}

#interest{
    width: 100%;
    height: 1000px;  
}

#education{
    width: 100%;
    height: 1000px;  
}

#previousprojects{
    width: 100%;
    height: 1000px; 
}
