.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

.fi {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.twitter {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a 
{
    text-decoration: none;
}